.profile__tab__headings__container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  max-width: 60rem;
  margin: auto;
}

.profile__tab__headings {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  border: 1px solid lightgray;
  padding: 0.5rem 0.5rem;
  background-color: white;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.profile__tab__headings:hover {
  box-shadow: 0px 2px 5px lightgray;
  border-bottom: 2px solid black;
  transition: 0.1s ease-in;
}

.tab__active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (min-width: 768px) {
  .profile__tab__headings {
    padding: 0.5rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .profile__tab__headings {
    padding: 0.5rem 4rem;
  }
}
