.categories__card__container{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}

@media only screen and (max-width: 700px) {
  .categories__card__container {
    flex-direction: column;
    
  }
}