.address__card__container {
  width: max-content;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px lightgray;
  width: 300px;
  color: var(--secondary-color);
  background-color: white;
}

.address__card__container > p {
  color: #7d7d7d;
}

.address__label {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.btns__container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.update__btn,
.remove__btn {
  cursor: pointer;
  border: none;
  padding: 0.2rem 0.8rem;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 0.4rem;
}

.update__btn {
  color: white;
  background-color: var(--primary-color);
}

.remove__btn {
  color: white;
  background-color: var(--secondary-color);
}

.update__btn:hover {
  color: var(--primary-color);
  background-color: white;
  outline: 2px solid var(--primary-color);
  transition: 0.15s ease-in;
}

.remove__btn:hover {
  color: var(--secondary-color);
  background-color: white;
  outline: 2px solid var(--secondary-color);
  transition: 0.15s ease-in;
}
