.address__change__container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 5px lightgray;
}

.address__change__details {
  max-width: 80%;
}

.address__change__btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 0.3rem;
  font-weight: bold;
  color: var(--primary-color);
  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 0.4rem;
}

.address__change__btn:hover {
  box-shadow: 0px 0px 5px lightgray;
}
