.user__profile__container {
  margin: 2rem 1rem 0rem 1rem;
  color: var(--secondary-color);
  min-height: 90vh;
}

.profile__data__container {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 60rem;
  
}

.user__greeting {
  text-align: center;
  max-width: 60rem;
  width: 100%;
  align-items: center;
  /* padding:12rem 2rem; */
  color: white;
  background: linear-gradient(
    to right,
    var(--primary-color),
    rgb(55, 185, 221)
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 500px;
}
@media only screen and (max-width: 700px) {
  .profile__data__container {
    flex-direction: column;
  }
  .user__greeting {
    height: 100px;
  }
}